/*
*
* Lemonade v1.1
* Copyright 2013, Joe Richardson
* lemonade.im
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
*
*/

/* Set the width of the grid */
.frame {
  width: 100%;
  margin: 0px auto
}

/* Attribute selector */
[class*='bit-'] {
  float: left;
  padding: 0.3em
}

/* Floats last ".bit-" to the right */
[class*='bit-']:last-of-type {
  float: right
}

/* Clearfix */
.frame:after {
  content: "";
  display: table;
  clear: both
}

/* Main Widths */
.bit-1  { width: 100% }
.bit-2  { width: 50% }
.bit-3  { width: 33.33% }
.bit-4  { width: 25% }
.bit-5  { width: 20% }
.bit-6  { width: 16.6666666667% }
.bit-7  { width: 14.2857142857% }
.bit-8  { width: 12.5% }
.bit-9  { width: 11.1111111111% }
.bit-10 { width: 10% }
.bit-11 { width: 9.09090909091% }
.bit-12 { width: 8.33% }

/* Landscape mobile & down */
@media (max-width: 30em) {
  .bit-1,
  .bit-2,
  .bit-3,
  .bit-4,
  .bit-5,
  .bit-6,
  .bit-7,
  .bit-8,
  .bit-9,
  .bit-10,
  .bit-11,
  .bit-12 {
    width: 100%;
  }
}

/* Portrait tablet to landscape */
@media (min-width: 30em) and (max-width: 50em) {
  .bit-4,
  .bit-6,
  .bit-8,
  .bit-10,
  .bit-12 {
    width: 50%
  }

  .bit-1,
  .bit-2,
  .bit-3,
  .bit-5,
  .bit-7,
  .bit-9,
  .bit-11 {
    width: 100%
  }
}

/* Landscape to small desktop */
@media (min-width: 50em) and (max-width: 68.750em) {
  .bit-2,
  .bit-7 {
    width: 100%
  }

  .bit-4,
  .bit-8,
  .bit-10,
  .bit-12 {
    width: 50%
  }
}

@charset "utf-8";
/* CSS Document */

@font-face {
	font-family: 'KaushanScriptRegular';
	src: url('fonts/KaushanScript-Regular.otf') format('opentype'),
		url('fonts/kaushanscript-regular.ttf') format('truetype');
}

@media only screen and (min-width:320px)  { body{font-size:12px} }
@media only screen and (min-width:768px)  { body{font-size:14px} }
@media only screen and (min-width:1024px) { body{font-size:16px} }
@media only screen and (min-width:1366px) { body{font-size:17px} }
@media only screen and (min-width:1900px) { body{font-size:18px} }

body{
	margin: 0;
	padding: 0;
	background: white;
	background-image: url("../images/body-background.jpg");
}

a{
    text-decoration: none;
}

p{
	margin: 0 0 1em 0;	
}	

p, ul{
	font-family:"Proxima Nova Light", 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-weight:300;
	font-style:normal;
	font-size: 1.2em; 
}

img{
	border: 0;
}

h1{
	font-family:'KaushanScriptRegular', Verdana, serif;
	font-weight:700;
	font-style:normal;
	font-size: 2.4em;
}

h2{
	font-family:"Beau Sans Pro Book", Verdana, sans-serif;
	font-weight:500;
	font-style:normal;
	font-size: 1.6em;
}

section{
	z-index: 1;
}

/*NAVBAR*/
#nav{
	background-color: rgba(254,205,45,0.86);
	border-radius: 10%;
	padding: .2em;
	list-style: none;
	position: fixed;
	right: 1em;
	/*left: 20px;*/
	z-index: 100;
	box-shadow: .2em .2em .1em rgb(113,86,33);
}

#nav li{
	padding: .3em;
	font-size: 1.1em;
	text-align: right;
	position: relative;
}

#nav li a{
	color: white;
}

#nav .header{
	padding: .3em 1px 0px;
	margin-bottom: .2em;
	font-size: 1.2em;
	border-bottom: 2px white solid;
	cursor: default;
}

#nav li:hover a{
	color: black;
} #nav li:hover .circle {
	background-color: black;
}

#nav li .active{
	color: #663A0D;
} #nav li .active .circle{
	background-color: #663A0D;
}

#nav li a{
	-webkit-transition: color 200ms ease-in-out;
	-moz-transition: color 200ms ease-in-out;
	-o-transition: color 200ms ease-in-out;
	-ms-transition: color 200ms ease-in-out;
	transition: color 200ms ease-in-out;
}

#nav li .circle{
	width: 1.1em;
	height: 1.1em;
	background-color: white;
	border-radius: 50%;
	display: inline-block;
	-webkit-transition: background-color 200ms ease-in-out;
	-moz-transition: background-color 200ms ease-in-out;
	-o-transition: background-color 200ms ease-in-out;
	-ms-transition: background-color 200ms ease-in-out;
	transition: background-color 200ms ease-in-out;
}

.rotate{
	display: inline-block;
    -webkit-animation:spin 1.5s linear infinite;
    -moz-animation:spin 1.5s linear infinite;
    animation:spin 1.5s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

#nav li .title{
	float: left;
	padding-right: .5em;
	display: none;
}

#nav:HOVER li .title{
	display: block;
}

#scroll-down{
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	margin-bottom: .6em;
}

#scroll-down img{
	height: 5em;
}

/*STORY*/
.story{
	margin: 0 auto;
	overflow: auto;
	text-align: center;
}

.story-text{
	margin: 0 auto;
	max-width: 70%;
	background-color: rgba(0,0,0,0.6);
	padding: 0.5em;
	border-radius: 10%;
	color: white;
}

/*INTRO*/
#intro{
	background: url(../images/wood.jpg) 50% 0 no-repeat fixed;
	background-size: cover;
	color: white;
	height: 60em;
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
}

#intro .logo-background{
	background: url(../images/MaderasMil-logo.png) 50% 4em no-repeat fixed;
	background-size: contain;
	height: 60em;
	width: 100%;
	margin: 0 auto;
	padding: 0;
	position: absolute;
}

#intro .logo{
	margin: 7em auto 0;
	max-width: 80%;
	width: 900px; height: auto;
}

.know-more-fb{
	opacity: 0.96;
	border-radius: 10%;
	/*-webkit-box-shadow: 8px 8px 5px #3a5070;
	box-shadow: 8px 8px 5px #3a5070;*/
	margin: 28% auto 0;
	position: relative;
	width: 14em;
	background-color: #3b5998;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.know-more-fb .text{
	padding: 1em 1.5em;
	font-weight: 700;
	font-size: 1.1em;
	color: white;
}

.know-more-fb:HOVER{
	background-color: #3B75B0;
	/*-webkit-box-shadow: 8px 8px 5px #3b6090;
	box-shadow: 8px 8px 5px #3b6090;*/
}

/*.know-more-fb .facebook-logo{
	height: 3em;
	width: auto;
} */

/*ABOUT*/
#about{
	height: 1000px;
	padding: 3em 0 0 0;
	background-color: rgba(255, 170, 78, 0.4);
}

/*PRODUCTS*/
#products{
	background: url(../images/Simple-Brown-Wood-Wallpaper.jpg) 50% 0 no-repeat fixed;
	background-size: cover;
	height: 1000px;
	padding: 3em 0 0 0;
}

/*CONTACT*/
#contact{
	height: 38em;
	padding: 3em 0 0 0;
}

/*FOOTER*/
footer{
	height: 11em;
	background-color: rgba(254,205,45,0.9);
	display: block;
	border-top: .15em #e0e0e0 solid;
	text-align: center;
}

footer .wrapper{
	margin: -3.5em 0 1.5em 0;
}

footer .logo{
	height: auto;
	width: 7em;
	margin: 0 auto 1em;
	border-radius: 50%;
	border: .15em #e0e0e0 solid;
	background-color: rgba(0,0,0,0.8);
	color: white;
}

footer .logo img{
	max-width: 100%;
	width: 120px;
	height: auto;
}

footer .author{
	font-family:'KaushanScriptRegular';
	font-size: 1.4em;
	color: #ffffff;
}
footer .author:hover{
	color: #AA1111;
}

footer .author-contact{
	padding-left: .3em
}
