@charset "utf-8";
/* CSS Document */

@font-face {
	font-family: 'KaushanScriptRegular';
	src: url('fonts/KaushanScript-Regular.otf') format('opentype'), url('fonts/kaushanscript-regular.ttf') format('truetype');
}

body{
	margin: 0;
	padding: 0;
	background: white;
	background-image: url("../images/body-background.jpg");
	font-size: 15px;
}

a{
    text-decoration: none;
}

p{
	margin: 0 0 1em 0;	
}	

p, ul{
	font-family:"Proxima Nova Light", 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-weight:300;
	font-style:normal;
	font-size: 1.2em; 
}

img{
	border: 0;
}

h1{
	font-family:'KaushanScriptRegular', Verdana, serif;
	font-weight:700;
	font-style:normal;
	font-size: 2.4em;
}

h2{
	font-family:"Beau Sans Pro Book", Verdana, sans-serif;
	font-weight:500;
	font-style:normal;
	font-size: 1.6em;
}

section{
	z-index: 1;
}

/*NAVBAR*/
#nav{
	background-color: rgba(254,205,45,0.86);
	border-radius: 8px;
	padding: 4px;
	list-style: none;
	position: fixed;
	right: 20px;
	/*left: 20px;*/
	z-index: 100;
	box-shadow: 4px 4px 3px rgb(113,86,33);
}

#nav li{
	padding: 8px;
	font-size: 1.2em;
	text-align: right;
	position: relative;
}

#nav li a{
	color: white;
}

#nav .header{
	padding: 8px 1px 0px;
	margin-bottom: 4px;
	font-size: 1.4em;
	border-bottom: 2px white solid;
	cursor: default;
}

#nav li:hover a{
	color: black;
} #nav li:hover .circle {
	background-color: black;
}

#nav li .active{
	color: #663A0D;
} #nav li .active .circle{
	background-color: #663A0D;
}

#nav li a{
	-webkit-transition: color 200ms ease-in-out;
	-moz-transition: color 200ms ease-in-out;
	-o-transition: color 200ms ease-in-out;
	-ms-transition: color 200ms ease-in-out;
	transition: color 200ms ease-in-out;
}

#nav li .circle{
	width: 20px;
	height: 20px;
	background-color: white;
	border-radius: 10px;
	display: inline-block;
	-webkit-transition: background-color 200ms ease-in-out;
	-moz-transition: background-color 200ms ease-in-out;
	-o-transition: background-color 200ms ease-in-out;
	-ms-transition: background-color 200ms ease-in-out;
	transition: background-color 200ms ease-in-out;
}

.rotate{
	display: inline-block;
    -webkit-animation:spin 1.5s linear infinite;
    -moz-animation:spin 1.5s linear infinite;
    animation:spin 1.5s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

#nav li .title{
	float: left;
	padding-right: 8px;
	display: none;
}

#nav:HOVER li .title{
	display: block;
}

#scroll-down{
	position: absolute;
	bottom: 0px;
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
}

#scroll-down img{
	height: 80px;
}

/*STORY*/
.story{
	margin: 0 auto;
	overflow: auto;
	text-align: center;
}

.story-text{
	margin: 0 auto;
	max-width: 70%;
	background-color: rgba(0,0,0,0.6);
	padding: 10px;
	border-radius: 10px;
	color: white;
}

/*INTRO*/
#intro{
	background: url(../images/wood.jpg) 50% 0 no-repeat fixed;
	color: white;
	height: 1300px;
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
}

#intro .logo{
	background: url(../images/MaderasMil-logo.png) 50% 0 no-repeat fixed;
	height: 1300px;
	width: 100%;
	margin: 0 auto;
	padding: 0;
	position: absolute;
}

.know-more-fb{
	opacity: 0.96;
	border-radius: 8px;
	/*-webkit-box-shadow: 8px 8px 5px #3a5070;
	box-shadow: 8px 8px 5px #3a5070;*/
	margin: 450px auto 0px;
	position: relative;
	width: 300px;
	background-color: #3b5998;
	color: white;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.know-more-fb .text{
	padding: 15px 30px 0px;
	height: 80px;
	color: white;
	font-weight: 700;
}

.know-more-fb:HOVER{
	background-color: #3B75B0;
	/*-webkit-box-shadow: 8px 8px 5px #3b6090;
	box-shadow: 8px 8px 5px #3b6090;*/
}

.know-more-fb .facebook-logo{
	height: 50px;
	width: auto;
}

/*ABOUT*/
#about{
	height: 1000px;
	padding: 50px 0 0 0;
	background-color: rgba(255, 170, 78, 0.4);
}

/*PRODUCTS*/
#products{
	background: url(../images/Simple-Brown-Wood-Wallpaper.jpg) 50% 0 no-repeat fixed;
	height: 1000px;
	padding: 50px 0 0 0;
}

/*CONTACT*/
#contact{
	height: 600px;
	padding: 50px 0 0 0;
}

/*FOOTER*/
footer{
	height: 240px;
	background-color: rgba(254,205,45,0.9);
	display: block;
	border-top: 3px #e0e0e0 solid;
	text-align: center;
}

footer .wrapper{
	margin: -65px 0 24px 0;
}

footer .logo{
	height: 120px;
	width: 120px;
	margin: 0 auto 20px;
	border-radius: 8px;
	border: 3px #e0e0e0 solid;
	background-color: rgba(0,0,0,0.8);
	color: white;
}

footer .author{
	font-family:'KaushanScriptRegular';
	font-size: 1.4em;
	color: #ffffff;
}
footer .author:hover{
	color: #AA1111;
}

footer .author-contact{
	padding-left: 5px;
}
